@model LMS.ViewModels.ScheduleViewModels

﻿@using LMS.Controllers
@if (Request.IsAuthenticated)
{
    if (User.IsInRole(Role.Student))
    {
        <p>@Role.Student</p>
        <p>@Model.Course.Name</p>
    }
    else if (User.IsInRole(Role.Teacher))
    {
        <p>@Role.Teacher</p>
        <p>@Model.Course.Name</p>
    }
}
@{
}


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#schema">Veckoschema (@Model.Calendar.GetWeekOfYear(DateTime.Now, System.Globalization.CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday))</a></li>
    <li><a data-toggle="tab" href="#modules">Moduler</a></li>
    <li><a data-toggle="tab" href="#info">Kursinfo</a></li>
</ul>

<div class="tab-content row">
    <div id="schema" class="tab-pane fade in active">
        <div class="col-md-6">
            @Html.Partial("_SchedulePartial", Model)
        </div>

        <div id="right" class="col-md-6">
            Massa content
        </div>

    </div>
    <div id="modules" class="tab-pane fade">
		<div class="col-md-6">
			<div id="modulesList"/>
		</div>
	</div>
    <div id="info" class="tab-pane fade">
        <p>Some content in menu 2.</p>
    </div>
</div>

@section Scripts
{
	<script>
		$(function ()
        {
            $("#modulesList").treeview(@Html.Raw(@Model.TreeView.JsonObject))
		})
	</script>
}
