@model LMS.ViewModels.Widgets.TreeViewModel

﻿@using LMS.Controllers
@if (Request.IsAuthenticated)
{
    if (User.IsInRole(Role.Student))
        { <p>@Role.Student</p>}
    else if (User.IsInRole(Role.Teacher))
        { <p>@Role.Teacher</p>}
}
@{
}


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#schema">Veckoschema</a></li>
    <li><a data-toggle="tab" href="#modules">Moduler</a></li>
    <li><a data-toggle="tab" href="#info">Kursinfo</a></li>
</ul>

<div class="tab-content row">
    <div id="schema" class="tab-pane fade in active">
        <div class="col-md-6">
            <table class="schemaTbl">
                <tr>
                    <th>
                        Dag (v 42)
                    </th>
                    <th>
                        Ämne
                    </th>
                </tr>
                <tr>
                    <td>@DateTime.Now.DayOfWeek @DateTime.Now.ToShortDateString()</td>
                    <td>C# Grund</td>
                </tr>
                <tr>
                    <td>@DateTime.Now.AddDays(1).DayOfWeek @DateTime.Now.AddDays(1).ToShortDateString()</td>
                    <td>HTML5</td>
                </tr>
                <tr>
                    <td>@DateTime.Now.AddDays(2).DayOfWeek @DateTime.Now.AddDays(2).ToShortDateString()</td>
                    <td>HTML5</td>
                </tr>
                <tr>
                    <td>@DateTime.Now.AddDays(3).DayOfWeek @DateTime.Now.AddDays(3).ToShortDateString()</td>
                    <td>CSS Grund</td>
                </tr>
                <tr>
                    <td>@DateTime.Now.AddDays(4).DayOfWeek @DateTime.Now.AddDays(4).ToShortDateString()</td>
                    <td>CSS Övning</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            Massa content
        </div>

    </div>
    <div id="modules" class="tab-pane fade">
		<div class="col-md-6">
			<div id="modulesList"/>
		</div>
		<div class="col-md-6">
			<div id="someinfo" />
		</div>
	</div>
    <div id="info" class="tab-pane fade">
        <p>Some content in menu 2.</p>
    </div>
</div>

@section Scripts
{
	<script>
		$(function ()
        {
			$("#modulesList").treeview(
				{
					enableLinks: true,
					data: @Html.Raw(Model.JsonData),
					onNodeSelected: function (event, data) { $("#someinfo").load(data.customData); }
				})
		})
	</script>
}
