@model LMS.ViewModels.ScheduleViewModels
@using LMS.Controllers
@using System.Globalization;
@if (Request.IsAuthenticated)
{
    if (User.IsInRole(Role.Student))
        {
            <p>@Role.Student</p>
            <p>@Model.Course.Name</p>
        }
    else if (User.IsInRole(Role.Teacher))
    {
        <p>@Role.Teacher</p>
        <p>@Model.Course.Name</p>
    }
}


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#schema">Veckoschema (@Model.Calendar.GetWeekOfYear(DateTime.Now, System.Globalization.CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday))</a></li>
    <li><a data-toggle="tab" href="#modules">Moduler</a></li>
    <li><a data-toggle="tab" href="#info">Kursinfo</a></li>
</ul>

<div class="tab-content row">
    <div id="schema" class="tab-pane fade in active">
        <div class="col-md-6">
            @Html.Partial( "_SchedulePartial", Model)
            @*<table class="schemaTbl">
                <tr>
                    <th>
                        Dag
                    </th>
                    <th>
                        Ämne
                    </th>
                </tr>
                <tr>
                    <td>@DateTimeFormatInfo.CurrentInfo.GetDayName(DateTime.Now.AddDays(0).DayOfWeek) @Model.FirstDayOfWeek.ToShortDateString()</td>
                    <td>C# Grund</td>
                </tr>
                <tr>
                    <td>@DateTimeFormatInfo.CurrentInfo.GetDayName(DateTime.Now.AddDays(1).DayOfWeek) @Model.FirstDayOfWeek.AddDays(1).ToShortDateString()</td>
                    <td>HTML5</td>
                </tr>
                <tr>
                    <td>@DateTimeFormatInfo.CurrentInfo.GetDayName(DateTime.Now.AddDays(2).DayOfWeek) @Model.FirstDayOfWeek.AddDays(2).ToShortDateString()</td>
                    <td>HTML5</td>
                </tr>
                <tr>
                    <td>@DateTimeFormatInfo.CurrentInfo.GetDayName(DateTime.Now.AddDays(3).DayOfWeek) @Model.FirstDayOfWeek.AddDays(3).ToShortDateString()</td>
                    <td>CSS Grund</td>
                </tr>
                <tr>
                    <td>@DateTimeFormatInfo.CurrentInfo.GetDayName(DateTime.Now.AddDays(4).DayOfWeek) @Model.FirstDayOfWeek.AddDays(4).ToShortDateString()</td>
                    <td>CSS Övning</td>
                </tr>
            </table>*@
        </div>

        <div id="right" class="col-md-6">
            Massa content
        </div>

    </div>
    <div id="modules" class="tab-pane fade">
        <p>Some content in menu 1.</p>
    </div>
    <div id="info" class="tab-pane fade">
        <p>Some content in menu 2.</p>
    </div>
</div>
